<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ 'Editar' if usuario else 'Cadastro' }} de Usuário</title>
</head>
<body>
    <h1>{{ 'Editar' if usuario else 'Cadastro' }} de Usuário</h1>
    {% if usuario %}
        <article>
            {% include 'usuarios/editar.html' %}
        </article>
       
    {% else %}
        <article>
            {% include 'usuarios/cadastro.html' %}
        </article>
        
    {% endif %}
    
    {% include 'usuarios/listar.html' %}
</body>
</html>
